<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.title}}</title>
</head>
<body>
    <div>{{.key}}</div>
    <form action="/admin/rule_api/operation" method="post">
        api名称:<input type="text" name="api_name" /><hr />
        api参数:<input type="text" name="api_param" /><hr />
        api链接:<input type="text" name="api_url" /><hr />
        api正确数据 <textarea name="success_data" style="width: 100%;height:50px;"></textarea>
        规则编号:
        {{range $ind, $elem :=.rule_list}}
        {{$elem.Rule_name}}<input type="checkbox" name="test_rule_id" value="{{$elem.Id}}">
        {{end}}
        请求方式:<br />
        get:<input type="radio" name="api_method" value="0">
        post:<input type="radio" name="api_method" value="1" checked>
        <br />
        动态令牌: 关闭:<input type="radio" name="token_status" value="0" checked> 开启:<input type="radio" name="token_status" value="1">
        <input type="submit" value="submit">
    </form>
</body>
</html>