<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.title}}</title>
</head>
<body>
<div>{{.key}}</div>
<form action="/admin/rule_api/operation" method="post">
    api_name:<input type="text" name="api_name" value="{{.info.Api_name}}" />
    <hr />
    api_param:
    <input type="text" name="api_param" value="{{.info.Api_param}}" /> <br />
    <hr />
    api_url:<input type="text" name="api_url" value="{{.info.Api_url}}" />
    <hr />
    success_data <textarea name="success_data" style="width: 100%;height:50px;">{{.info.Success_data}}</textarea>
    编号:
{{range $ind, $elem :=.rule_list}}
{{$elem.Rule_name}}

    <input type="checkbox" name="test_rule_id" {{range $apikey,$apiVal := $.info.Api_test_rule_id_int}}{{if eq  $elem.Id $apiVal}} CHECKED{{end}}{{end}} value="{{$elem.Id}}">
{{end}}
    <hr />
    api_method:
    get:<input type="radio" name="api_method" value="0" {{if eq .info.Api_method 0}}CHECKED{{end}}>
    post:<input type="radio" name="api_method" value="1" {{if eq .info.Api_method 1}}CHECKED{{end}}>
    <input type="hidden" name="id" value="{{.info.Id}}">
    <input type="submit" value="submit">
</form>
</body>
</html>